{% extends 'base.html' %} 

{% block title%}Tasks{% endblock title %} 

{% block content %}
<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Summary</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <th scope="row">{{ task["id"] }}</th>
      <td>{{ task["summary"] }}</td>
      <td>{{ task["description"] }}</td>
      <td><a href="{{ url_for('edit_task', pk=task['id'] )}}">Edit</a> | Delete</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
